{% extends 'base.html.twig' %}

{% block body %}
    {% for article in articles %}
        {{ include('blog/_articles.html.twig') }}
    {% endfor %}
    <!-- Pager -->
    <div class="clearfix">
        
    </div>
{% endblock %}