{% extends 'base.html.twig' %}

{% block title %}Presentation !{% endblock %}

{% block body %}
    <h2>Presentation {{ test }}</h2>
    <p>Test etts sqfjsd lldsk gfldfkgldklgkdlgk</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum provident autem temporibus sapiente laborum blanditiis obcaecati odit nisi. Ad, iusto, ducimus vel optio debitis rerum voluptatem nemo enim a odit quo molestias atque eum eos eaque rem corporis ea. Mollitia, magnam, eligendi recusandae voluptatibus illo fugit ducimus. Et, non, id, vitae quo itaque distinctio officia quis omnis pariatur dolor neque veniam deserunt eligendi dolores culpa voluptas eos quos aspernatur vero laudantium dignissimos tempore eius earum soluta dolorum! Possimus, numquam, quidem, suscipit quasi dicta beatae consequatur eligendi nihil voluptatem consequuntur repudiandae quae eaque laudantium. Id, quam consequuntur est adipisci suscipit ullam qui quisquam deleniti sequi cum dolores modi enim quis minima rerum consectetur sed tempora soluta vero quod possimus ipsum ad iusto rem eaque optio deserunt eum at praesentium aliquid doloribus eos non minus! Dolore cumque quod maiores. Placeat, repellat, ut, officia repudiandae consequuntur porro tempore tempora veniam obcaecati molestiae hic eos nihil voluptates optio necessitatibus laboriosam mollitia aliquid deserunt corporis!</p>
{% endblock %}
